// Process configuration
process {

    $t_index {
        tool = 'RSEM'
        version = '1.2.22'
        cpus = 4
        memory = '15G'
        time = '24h'
    }
    $quantification {
        tool = 'RSEM'
        version = '1.2.22'
        profile = { '-' + (pairedEnd ? 'Paired-End' : 'Single-End') + '-' + readStrand }
        cpus = 6
        memory = '46G'
        time = '24h'
        mode = 'Transcriptome'
        fileType = 'tsv'
    }

}
